<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- 数据源配置 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		init-method="init" destroy-method="close">
		<!-- 基本属性 url、user、password -->
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />

		<!-- 配置初始化大小、最小、最大 -->
		<property name="initialSize" value="1" />
		<property name="minIdle" value="1" />
		<property name="maxActive" value="4" />

		<!-- 配置获取连接等待超时的时间 -->
		<property name="maxWait" value="60000" />

		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="60000" />

		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="300000" />

		<property name="validationQuery" value="SELECT 'x'" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />

		<!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
<!-- 		<property name="poolPreparedStatements" value="true" />
		<property name="maxPoolPreparedStatementPerConnectionSize"
			value="20" /> -->

		<!-- 配置监控统计拦截的filters，去掉后监控界面sql无法统计 -->
		<!-- <property name="filters" value="stat" /> -->
	</bean>
	<!-- end -->

	<!-- 单点登录近授权配置 -->
	<bean id="passwordEncoder" class="org.yy.sso.auth.Sha1PasswordEncoder"></bean>
	<bean id="jdbcUsernamePwdAuthHandler" class="org.yy.sso.auth.JdbcUsernamePwdAuthHandler">
		<constructor-arg index="0" ref="passwordEncoder"></constructor-arg>
		<constructor-arg index="1" ref="dataSource"></constructor-arg>
		<constructor-arg index="2">
			<value><![CDATA[
				SELECT USERNAME, PASSWORD FROM TB_USERADMIN_USER where LOGIN_ID = ?
			]]></value>
		</constructor-arg>
	</bean>
	<bean id="authHandlerManager" class="org.yy.sso.auth.AuthHandlerManager">
		<constructor-arg index="0">
			<map>
				<entry key="org.yy.sso.credential.UsernamePwdCredential"
					value-ref="jdbcUsernamePwdAuthHandler">
				</entry>
			</map>
		</constructor-arg>
	</bean>
	<bean id="ticketIdGenerator" class="org.yy.sso.ticket.DefaultTicketIdGenerator"></bean>
	<bean id="ticketContainer" class="org.yy.sso.ticket.container.DefaultTicketContainer"></bean>
	<bean id="expirationPolicy" class="org.yy.sso.ticket.policy.TimeoutExpirationPolicy">
		<constructor-arg index="0" value="86400000"></constructor-arg><!-- 
			1000*60*60*24 -->
	</bean>
	<bean id="centralAuthService" class="org.yy.sso.DefaultCentralAuthService">
		<constructor-arg index="0" ref="authHandlerManager"></constructor-arg>
		<constructor-arg index="1" ref="ticketIdGenerator"></constructor-arg>
		<constructor-arg index="2" ref="ticketContainer"></constructor-arg>
		<constructor-arg index="3" ref="expirationPolicy"></constructor-arg>
	</bean>
	<!-- end -->


</beans>
